<launch>
    <arg name="veh" doc="Name of vehicle. ex megaman"/>

    <group ns="$(arg veh)">
        <node pkg="example_catkin_package" type="my_node.py" name="my_node" output='screen'>
            <remap from="~imu" to="flight_controller_node/imu"/>
            <param name="~foo" value="5"/>
        </node>
    </group>
</launch>
